In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('bank-additional.csv', sep=';', header=0)

In [3]:
train.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [5]:
train['y'] = train.y.replace({1: "yes", 0: "no"})

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [7]:
print("Train Data:")
print(train.isnull().sum(), "\n")

Train Data:
age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [8]:
train.fillna(train.mean(),inplace=True) 
train.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [11]:
train.campaign.fillna(train.campaign.mode()[0],inplace=True)
train.pdays.fillna(train.pdays.mode()[0],inplace=True)
train.previous.fillna(train.previous.mode()[0],inplace=True) 
train.duration.fillna(train.duration.mode()[0],inplace=True)  
train.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [44]:
train.campaign=np.log(train.campaign)

C:\Users\bri\anaconda3\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [18]:
X=train.drop('campaign',1)
y=train.campaign

In [19]:
X=pd.get_dummies(X)
train=pd.get_dummies(train)

In [20]:
X.head()

,age,duration,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_admin.,...,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_no,y_yes
0,30,487,999,0,-1.8,92.893,-46.2,1.313,5099.1,0,...,1,0,0,0,0,0,1,0,1,0
1,39,346,999,0,1.1,93.994,-36.4,4.855,5191.0,0,...,1,0,0,0,0,0,1,0,1,0
2,25,227,999,0,1.4,94.465,-41.8,4.962,5228.1,0,...,0,0,0,0,1,0,1,0,1,0
3,38,17,999,0,1.4,94.465,-41.8,4.959,5228.1,0,...,1,0,0,0,0,0,1,0,1,0
4,47,58,999,0,-0.1,93.200,-42.0,4.191,5195.8,1,...,0,1,0,0,0,0,1,0,1,0

In [21]:
y.head()

0         NaN
1   -1.118914
2         NaN
3   -2.363952
4         NaN
Name: campaign, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(X, y, test_size=0.2)

In [24]:
#(a)LOGISTIC REGRESSION

from sklearn.linear_model import LogisticRegression

model=LogisticRegression()

model.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [29]:
train.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,...,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_no,y_yes
count,4119.000000,4119.000000,33.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,...,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000,4119.000000
mean,40.113620,256.788055,-2.938793,960.422190,0.190337,0.084972,93.579704,-40.499102,3.621356,5166.481695,...,0.186453,0.207575,0.208789,0.204176,0.193008,0.110221,0.855305,0.034474,0.890507,0.109493
std,10.313362,254.703736,0.778021,191.922786,0.541788,1.563114,0.579349,4.594578,1.733591,73.667904,...,0.389519,0.405620,0.406492,0.403147,0.394707,0.313203,0.351836,0.182466,0.312294,0.312294
min,18.000000,0.000000,-3.932821,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.635000,4963.600000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32.000000,103.000000,-3.204553,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.334000,5099.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,38.000000,181.000000,-3.204553,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,47.000000,317.000000,-2.112818,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,88.000000,3643.000000,-1.436334,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
print("Train Data:")
print(train.isnull().sum(), "\n")

Train Data:
age                        0
duration                   0
campaign                4086
pdays                      0
previous                   0
                        ...
poutcome_failure           0
poutcome_nonexistent       0
poutcome_success           0
y_no                       0
y_yes                      0
Length: 65, dtype: int64

In [27]:
X=pd.get_dummies(X)
train=pd.get_dummies(train)

In [31]:
train.fillna(train.mean(),inplace=True) 
train.isnull().sum()

age                     0
duration                0
campaign                0
pdays                   0
previous                0
                       ..
poutcome_failure        0
poutcome_nonexistent    0
poutcome_success        0
y_no                    0
y_yes                   0
Length: 65, dtype: int64

In [32]:
train.campaign.fillna(train.campaign.mode()[0],inplace=True)
train.pdays.fillna(train.pdays.mode()[0],inplace=True)
train.previous.fillna(train.previous.mode()[0],inplace=True) 
train.duration.fillna(train.duration.mode()[0],inplace=True)  
train.isnull().sum()

age                     0
duration                0
campaign                0
pdays                   0
previous                0
                       ..
poutcome_failure        0
poutcome_nonexistent    0
poutcome_success        0
y_no                    0
y_yes                   0
Length: 65, dtype: int64

In [34]:
train.campaign_Term=np.log(train.campaign)

C:\Users\bri\anaconda3\lib\site-packages\pandas\core\arraylike.py:358: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
<ipython-input-34-7c492a5a8921>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  train.campaign_Term=np.log(train.campaign)

In [35]:
X=train.drop('campaign',1)
y=train.campaign

In [36]:
X=pd.get_dummies(X)
train=pd.get_dummies(train)

In [37]:
X.head()

,age,duration,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_admin.,...,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y_no,y_yes
0,30,487,999,0,-1.8,92.893,-46.2,1.313,5099.1,0,...,1,0,0,0,0,0,1,0,1,0
1,39,346,999,0,1.1,93.994,-36.4,4.855,5191.0,0,...,1,0,0,0,0,0,1,0,1,0
2,25,227,999,0,1.4,94.465,-41.8,4.962,5228.1,0,...,0,0,0,0,1,0,1,0,1,0
3,38,17,999,0,1.4,94.465,-41.8,4.959,5228.1,0,...,1,0,0,0,0,0,1,0,1,0
4,47,58,999,0,-0.1,93.200,-42.0,4.191,5195.8,1,...,0,1,0,0,0,0,1,0,1,0

In [38]:
y.head()

0   -2.938793
1   -2.938793
2   -2.938793
3   -2.938793
4   -2.938793
Name: campaign, dtype: float64

In [43]:
X=train.drop('campaign',1)
y=train.campaign

In [40]:
#(a)LOGISTIC REGRESSION

from sklearn.linear_model import LogisticRegression

model=LogisticRegression()

model.fit(x_train,y_train)

ValueError: Unknown label type: 'continuous'